<% layout('/layouts/boilerplate.ejs') -%>
<body>
    <h3>Create a new Listing</h3>
    <form action="/listings" method="post">
        <input type="text" placeholder="enter title" name="listings[title]">
        <br><br>
        <textarea name="listings[description]" id="description" placeholder="enter description" type="text"></textarea>
        <br><br>
         <input type="text" placeholder="enter Image url" name="listings[image]">
        <br><br>
         <input type="number" placeholder="enter price" name="listings[price]">
        <br><br>
         <input type="text" placeholder="enter location" name="listings[location]">
        <br><br>
         <input type="text" placeholder="enter country" name="listings[country]">
        <br><br>
        <button>Add</button>
    </form>
</body>
