body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;
    /* font-weight: ;
    font-style: ; */
}

/* Nav bar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222 !important;
}

/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #222;
    margin-right: 0.4rem;
}

.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-socials , .f-info-links , .f-info-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.f-info-socials i{
    color: #222;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

/* Card */
.card{
    border: none !important;
    margin-bottom: 2rem;
    cursor: pointer;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: none;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}